* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: somarMed;
  overflow-x: hidden;
  width: 100vw;
  // background: #f7f5ef;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.main-btn {
  color: #ffffff;
  background: #43290a;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  transition: all 0.5s;
  &:hover {
    color: #43290a;
    background: #ffffff;
  }
}
