@font-face {
  font-family: somarMed;
  src: url(../fonts/Cairo/static/Cairo-Medium.ttf);
}
@font-face {
  font-family: somarLight;
  src: url(../fonts/Cairo/static/Cairo-Light.ttf);
}
@font-face {
  font-family: somarBold;
  src: url(../fonts/Cairo/static/Cairo-Bold.ttf);
}
@font-face {
  font-family: somarSemiBold;
  src: url(../fonts/Cairo/static/Cairo-SemiBold.ttf);
}
@font-face {
  font-family: varelaRoundRegular;
  src: url(../fonts/Varela_Round/VarelaRound-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
