.about-section {
  background-color: #f7f5ef;
  text-align: right;
  padding: 6rem 0rem;
  .container {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: row-reverse;
    .about-info {
      background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03));
      padding: 4rem 1rem 4rem 2rem;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 20px;
      position: relative;
      margin-left: auto;
      flex-grow: 6;
      font-size: 0.7rem;

      h1 {
        margin-bottom: 2rem;
      }
      p {
        line-height: 2;
        max-width: 50rem;
        margin-left: auto;
      }
    }
    .about-img {
      transform: translateX(1rem);
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
