.cart-component {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(100%);
  transition: all 0.5s ease;
  z-index: 1100;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

  .cart-component-container {
    width: 50vw;
    max-width: 40rem;
    margin-left: auto;
    height: 100%;
    position: relative;
    background: #f7f5ef;
    text-align: center;
    padding: 1rem 2rem;
    box-shadow: -8px 2px 19px 0px rgba(0, 0, 0, 0.13);
    @media screen and (max-width: 1200px) {
      width: 40rem;
    }
    @media screen and (max-width: 650px) {
      width: 100%;
    }
    .close-cart {
      border: none;
      background-color: inherit;
      font-size: 1.5rem;
      position: absolute;
      top: 2rem;
      left: 2rem;
    }
    h1 {
      font-size: 2rem;
      margin: 1rem;
    }
    h3 {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      column-gap: 0.8rem;
      span {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
    overflow-y: scroll;

    .cart-item {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 2rem;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      @media screen and (max-width: 580px) {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        border-bottom: 1px solid gray;
        padding-bottom: 1rem;
        margin-top: 3rem;
      }
      .cart-item-info {
        display: flex;
        text-align: right;
        // flex: 1;
        align-items: flex-start;

        flex-direction: row-reverse;
        column-gap: 1rem;
        flex-wrap: wrap;
        .cart-item-img-container {
          width: 120px;
          height: 120px;
          overflow: hidden;
          border-radius: 10px;
        }
        h2 {
          font-size: 1.3rem;
          &.item-price {
            color: green;
          }
        }
        h3 {
          color: gray;
          font-size: 15px;
        }
        @media screen and (max-width: 580px) {
          justify-content: space-between;
          text-align: right;
          align-self: stretch;
          margin-bottom: 0.5rem;
        }
      }
      .order-quantity {
        background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
        padding: 0.2rem 1rem;
        border-radius: 20px;
        font-size: 1.3rem;
        user-select: none;
        .order-quantity-input {
          padding: 0rem 2rem;
        }
        .decrement,
        .increment {
          cursor: pointer;
        }
        @media screen and (max-width: 580px) {
          width: 200px;
          .order-quantity-input {
            padding: 0.2rem 3rem;
            margin-bottom: 1rem;
          }
        }
      }
      button {
        display: block;
        border: none;
        transition: all 0.3s;
        font-size: 1.2rem;
        &:hover {
          opacity: 0.5;
          transform: scale(1.2);
        }
      }
    }
    img {
      width: 100%;
      display: block;
      object-fit: cover;
    }
    .cart-footer {
      width: 90%;
      margin: 2rem auto;
      margin-top: 3rem;
      .coupon-container {
        margin-bottom: 1rem;
        border: none;
        // background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));

        width: 100%;
        padding: 0 1rem;
        border: 1px solid rgb(124, 139, 55);
        border-radius: 20px;
        text-align: right;
        color: rgb(124, 139, 55);
        outline: none;
        display: flex;
        flex-direction: row-reverse;
        input {
          border: none;
          // background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05));
          background-color: inherit;
          width: 100%;
          padding: 0.5rem;
          text-align: right;
          color: rgb(124, 139, 55);
          outline: none;
          &::placeholder {
            color: rgb(124, 139, 55);
            font-size: 0.8rem;
          }
        }
        button {
          background: inherit;
          border: none;
          color: rgb(124, 139, 55);
          transition: all 0.3s;
          &:hover {
            color: #43290a;
          }
        }
      }
      .cart-last-control {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 0.5rem 0rem;
        h3 {
          color: #43290a;
        }
      }
    }
    .pay-btn {
      color: #ffffff;
      background: #43290a;
      padding: 0.5rem 4rem;
      border-radius: 20px;
      transition: all 0.5s;
      &:hover {
        color: #43290a;
        background: #ffffff;
      }
    }
  }
}
.show-cart {
  transform: translateX(0%);
}
