.lastest-addition-section,
.carousel-container,
.categories_page_products,
.search-items {
  position: relative;
  min-height: 300px;

  .latest-item {
    text-align: right;
    color: #43290a;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      opacity: 0.8;
    }
    h2 {
      font-size: 1.3rem;
    }
    h3 {
      color: #958a7e;
      font-size: 1rem;
    }
    .img-container {
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 1rem;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
    .item-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0rem;
      font-size: 1.3rem;
      margin-top: -0.5rem;
      .heart-icon {
        transition: all 0.3s;
        margin-left: 1rem;
        &:hover {
          color: red;
        }
      }
      .heart-icon-wished {
        color: red;
        transition: all 0.3s;
        margin-left: 1rem;
        &:hover {
          color: #43290a;
        }
      }
      .prices {
        display: flex;
        column-gap: 0.5rem;
        font-size: 1rem;
      }
      .oldPrice,
      .price {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
      }
      .oldPrice {
        color: #958a7e;
        // margin: 1rem;
        text-decoration: line-through;
      }
    }
  }
  .owl-nav {
    .owl-next {
      position: absolute;
      display: hidden !important;
      color: #f7f5ef !important;
      background-color: inherit !important;
      top: 30%;
      right: 0;
      transform: translateX(150%);

      &::before {
        color: #43290a;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f178";
        font-size: 1.5rem;
        transition: all 0.5s;
      }
      &:hover {
        &::before {
          color: #958a7e;
        }
      }
    }
    .owl-prev {
      position: absolute;
      display: hidden !important;
      color: #f7f5ef !important;
      background-color: #f7f5ef !important;
      top: 30%;
      left: 0;
      transform: translateX(-150%);
      &::before {
        color: #43290a;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f060";
        font-size: 1.5rem;
        transition: all 0.5s;
      }
      &:hover {
        &::before {
          color: #958a7e;
        }
      }
    }
  }
  .owl-dots {
    display: none;
  }
}
.carousel-container {
  // display: flex;
  width: 80%;
  margin: 0rem auto;
  @media screen and (max-width: 660px) {
    width: 50%;
  }
}

.wish-list {
  .wish-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    column-gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    @media screen and (max-width: 550px) {
      justify-content: center;
      row-gap: 2rem;
    }
  }
  .latest-item {
    text-align: right;
    color: #43290a;
    cursor: pointer;
    width: 45%;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
    h2 {
      font-size: 1.3rem;
    }
    h3.right-h3 {
      color: #958a7e;
      display: block;
      text-align: right;
      // background-color: red;
      font-size: 1rem;
    }
    .img-container {
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 1rem;
      height: 350px;
      img {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
      }
    }
    .item-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0rem;
      font-size: 1.3rem;
      margin-top: -2rem;
      .heart-icon {
        transition: all 0.3s;
        &:hover {
          color: red;
        }
      }
      .heart-icon-wished {
        color: red;
        transition: all 0.3s;
        &:hover {
          color: #43290a;
        }
      }
      .prices {
        display: flex;
        column-gap: 0.5rem;
        font-size: 1rem;
      }
      .oldPrice,
      .price {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
      }
      .oldPrice {
        color: #958a7e;
        // margin: 1rem;
        text-decoration: line-through;
      }
    }
    @media screen and (max-width: 550px) {
      width: 60%;
      .img-container {
        height: 250px;
      }
    }
  }
}
