.footer {
  background: #43290a;
  padding: 1rem 2rem;
  padding-top: 2rem;
  & > h1 {
    color: white;
    text-align: center;
    font-size: 0.8rem;
    transform: translateY(1rem);
  }

  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    color: white;
    font-size: 0.8rem;
    flex-wrap: wrap;
    text-align: right;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 2rem;
    .footer-header {
      p {
        max-width: 18rem;
        margin: 1rem 0;
        margin-left: auto;
      }
    }
    a {
      color: white;
    }
    & > div {
      flex: 1;
    }
    .footer-app {
      text-align: left;
    }
    .footer-body {
      display: flex;
      column-gap: 2rem;
      justify-content: flex-end;

      h1 {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
      & > div {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;
        justify-content: space-between;
      }
    }
  }
  .footer-app {
    h2 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    .footer-app-body {
      display: flex;
      column-gap: 1rem;
      align-items: flex-end;
      .footer-app-body-img-container {
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
