.nav-bar-header {
  height: 75px;
}
.nav-wrapper {
  font-family: somarMed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 1000;
  font-size: 0.8rem;
  font-weight: bold;
  a {
    color: #43290a;
  }
  .logo {
    width: 140px;
    display: block;
  }
  ul {
    display: flex;
    flex-direction: row-reverse;
  }
  .nav-links a {
    position: relative;
    height: 75px;
    display: inline-block;
    // padding: 0.3rem;
    display: flex;
    align-items: center;
    margin: 0rem 1rem;
  }
  .nav-links a:hover {
    color: #43290a;
  }
  .nav-links a::after {
    // display: none;
    position: absolute;
    content: "";
    background: #43290a;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: all 0.5s ease-in;
  }
  .nav-links {
    a {
      &:hover,
      :active,
      &.router-link-exact-active {
        &::after {
          width: 100%;
        }
      }
    }
  }
  .nav-btns {
    column-gap: 1.3rem;
    align-items: center;
    justify-content: center;
    // display: none;
    font-size: 1.1rem;
    // padding: 1re;
    color: #43290a;
    a {
      padding: 0.3rem 1rem;
      border-radius: 10px;
      background-color: #f7f5ef;
      font-size: 0.8rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      &:hover {
        color: #43290a;
        text-decoration: none;
      }
    }
    li {
      cursor: pointer;
      :hover {
        color: gray;
      }
    }
    .cart {
      position: relative;
      // height: 10px;
      span {
        position: absolute;
        color: white;
        transform: translate(50%, -40%) scale(0.6);
        // height: 40px;
        // color: black;
        top: 0;
        right: 0;
        // width: 40px;
        padding: 0.3rem 0.7rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
      }
    }
    .nav-icon-img {
      height: 15px;
    }
  }
  .nav-toggle {
    display: none;
  }
  .nav-links-small {
    display: none;
  }
  .nav-btns-small {
    display: none;
  }
  @media screen and (max-width: 1000px) {
    .nav-links {
      display: none;
    }
    .nav-btns {
      display: none;
    }
    & {
      padding: 1rem 2rem;
    }
    .nav-toggle {
      display: block;
      font-size: 1rem;
      transition: all 0.5s;
      background-color: rgb(216, 197, 197);
      color: #43290a;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 35px;
      &:hover {
        transform: scale(1.3);
        opacity: 0.5;
        cursor: pointer;
      }
    }
    .nav-links-small {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100vh;
      background-color: rgb(216, 197, 197, 0.9);
      display: flex;
      justify-content: flex-start;
      padding-top: 3rem;
      align-items: center;
      flex-direction: column;
      transform: translate(-100%);
      transition: all 1s;
      z-index: 1001;
      li {
        padding: 1.5rem 0.3rem;
        a {
          transition: all 0.5s;
        }
        &:hover a {
          color: gray;
          padding-right: 2rem;
        }
      }
      .close-nav {
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: transparent;
        transition: all 1s;
        border: none;
        font-size: 1.5rem;

        &:hover {
          transform: rotate(270deg);
          color: red;
        }
      }
    }
    .nav-btns-small-show {
      position: fixed;
      display: flex;
      justify-content: space-between;
      right: 0;
      left: 0;
      top: 100vh;
      transform: translateY(-100%);
      background: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(10px);
      padding: 0.5rem 1rem;
      // z-index: 1000;
      a {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        h5 {
          font-size: 0.7rem;
        }
      }
      .nav-btn-home {
        // background: white;
        // border-radius: 50%;
        transform: translateY(-50%);

        // padding: 1rem;
        position: relative;
        &::before {
          position: absolute;
          background-color: white;
          content: " ";
          padding: 2rem;
          z-index: -1;
          border-radius: 50%;
          top: 0;
          left: 0;
          transform: translate(-25%, -25%);
          box-shadow: 0 0 15px 0 #ddd;
        }
      }
    }
  }
  .show-nav-small {
    transform: translate(0);
  }
}
.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
